services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - ./:/app
      - ../../:/package:ro
      - vendor_data:/app/vendor
    env_file:
      - .env
    environment:
      - DB_DATABASE=/app/database/database.sqlite

volumes:
  vendor_data:
